
<p>Къде да обядваме?</p>
<form action="/cast">
    <input type='text' name='name' />
  <ul class="unstyled">
    <li>
      <label class="radio">
        <input type="radio" name="vote" value="Happy">
        Happy
      </label>
    </li>
    <li>
      <label class="radio">
        <input type="radio" name="vote" value="Кривото">
        Кривото
      </label>
    </li>
    <li>
      <label class="radio">
        <input type="radio" name="vote" value="Мистър Пица">
        Мистър Пица
      </label>
    </li>
    <li>
      <label class="radio">
        <input type="radio" name="vote" value="Слънце Луна">
        Слънце Луна
      </label>
    </li>
    <li>
      <label class="radio">
        <input type="radio" name="vote" value="Ветрило">
        Ветрило
      </label>
    </li>
  </ul>
  <button type="submit" class="btn btn-primary">Гласувай!</button>
</form>
